[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
pandas = "*"
scikit-learn = "*"
matplotlib = "*"
seaborn = "*"
jupyterlab = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true

[scripts]
lab = "jupyter lab src/main.ipynb"
format = "black ."
